<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenide Practice Suite" parallel="methods" thread-count="4">
    <test name="Playground Test">
        <classes>
            <class name="tests.playgroundtests.PlaygroundTests"/>
        </classes>
    </test>
</suite>